/**********************************************************************************************************************/
/* GenerateWeightsPanel                                                                                           */
/**********************************************************************************************************************/

#Content{
    width : 250px;
    align-content : center;
}

.form-row{
   align-content : center;
}
