#AutoGenerateWeightImage {
    background-image: url("../EditorIcons/Generate_Weights.png");
}


#WeightPainterSliderImage {
    background-image: url("../EditorIcons/Weight_Slider.png");
}

#WeightPainterBrushImage {
    background-image: url("../EditorIcons/Weight_Brush.png");
}

#BoneInfluenceWidgetImage {
    background-image: url("../EditorIcons/Bone_Influence.png");
}

#SpriteInfluenceWidgetImage {
    background-image: url("../EditorIcons/Sprite_Influence.png");
}

.Checked #AutoGenerateWeightImage {
    background-image: url("../EditorIcons/Selected/Generate_Weights.png");
}


.Checked #WeightPainterSliderImage {
    background-image: url("../EditorIcons/Selected/Weight_Slider.png");
}

.Checked #WeightPainterBrushImage {
    background-image: url("../EditorIcons/Selected/Weight_Brush.png");
}

.Checked #BoneInfluenceWidgetImage {
    background-image: url("../EditorIcons/Selected/Bone_Influence.png");
}

.Checked #SpriteInfluenceWidgetImage {
    background-image: url("../EditorIcons/Selected/Sprite_Influence.png");
}

.Dark #AutoGenerateWeightImage {
    background-image: url("../EditorIcons/d_Generate_Weights.png");
}


.Dark #WeightPainterSliderImage {
    background-image: url("../EditorIcons/d_Weight_Slider.png");
}

.Dark #WeightPainterBrushImage {
    background-image: url("../EditorIcons/d_Weight_Brush.png");
}

.Dark #BoneInfluenceWidgetImage {
    background-image: url("../EditorIcons/d_Bone_Influence.png");
}

.Dark #SpriteInfluenceWidgetImage {
    background-image: url("../EditorIcons/d_Sprite_Influence.png");
}
