:root {
    justify-content: center;
}

.sprite-resolver-overlay {
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
}

.sprite-resolver-overlay__selector-list {
    flex-grow: 1;
    background-color: var(--unity-colors-default-background);
}

.sprite-resolver-overlay__selector {
    padding: 1px 0;
    background-color: var(--unity-colors-default-background);
}

.unity-collection-view__item--selected > .sprite-resolver-overlay__selector {
    border-color: var(--unity-colors-button-background-focus);
}

.sprite-resolver-overlay__resolver-name-label {
    align-self: center;
    margin-bottom: 2px;
}

.unity-collection-view__item--selected {
}

.sprite-resolver-overlay__category-and-label-name-container {
    background-color: var(--unity-colors-window-background);
    flex-direction: row;
    justify-content: space-between;
}

.sprite-resolver-overlay__category-container {
    margin-left: 1px;
    align-self: center;
    width: 45%;
}

.sprite-resolver-overlay__label-description {
    align-self: center;
    margin-right: 5px;
    overflow: hidden;
}

.unity-collection-view__item--selected > * > .sprite-resolver-overlay__label-description {
    color: var(--unity-colors-label-text-focus);
}

.unity-collection-view__item--selected > * > .sprite-resolver-overlay__label-description:disabled {
    color: var(--unity-colors-label-text-disabled);
}

.sprite-resolver-overlay__label-container {
    background-color: var(--unity-colors-alternated_rows-background);
    flex-direction: row;
}

.sprite-resolver-overlay__label-direction-button {
    align-self: center;
    min-width: 12px; width: 12px;
    min-height: 12px; height: 12px;
}

.sprite-resolver-overlay__label-direction-button:hover {
    background-color: var(--unity-colors-scrollbar_button-background-hover);
}

.sprite-resolver-overlay__label-images-container {
    flex-grow: 1;
    justify-content: center;
}

.sprite-resolver-overlay__info-label-holder {
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: var(--unity-colors-default-background);
}

.sprite-resolver-overlay__info-label {
    white-space: normal;
    padding: 10px;
}

.sprite-resolver-overlay__label-visual {
    align-items: center;
    padding: 3px;
    margin: 2px;
    border-width: 1px;
    background-color: var(--unity-colors-button-background);
}

.sprite-resolver-overlay__label-selected {
    border-color: var(--unity-colors-toolbar-border);
}

.sprite-resolver-overlay__toolbar {
    padding-top: 1px;
    flex-direction: row;
    bottom: 0;
    min-height: 20px;
    height: 20px;
    justify-content: space-between;
}

.sprite-resolver-overlay__filter-toggle {
    align-self: center;
    padding: 1px 5px;
    width: 27px;
    height: 18px;
    border-radius: 3px;
    background-color: var(--unity-colors-button-background);
}

.sprite-resolver-overlay__filter-toggle:checked {
    background-color: var(--unity-colors-highlight-background);
}

.sprite-resolver-overlay__toolbar-button {
    margin-right: auto;
    align-self: center;
    height: 18px;
}

.sprite-resolver-overlay__thumbnail-settings {
    flex-direction: row;
}

.sprite-resolver-overlay__slider {
    width: 120px;
}

.unity-collection-view__item--selected > .sprite-resolver-overlay__label-container:focus > * > .sprite-resolver-overlay__label-selected {
    border-color: var(--unity-colors-input_field-border-focus);
}

.unity-popup-field {
    justify-content: flex-start;
}
